:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --vool-orange: #ea5823;
  --vool-grey: #383838;
  --vool-green: #20af88;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--primary-font);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

