.headerWrapper {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.headerContainer {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.headerContainer nav {
  display: flex;
  column-gap: 45px;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
}

.headerContainer nav a:hover {
  color: var(--vool-green);
}

.headerContainer nav a:active {
  color: var(--vool-orange);
}
